@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: -webkit-linear-gradient(to right, #200122, #6f0000);
  background: linear-gradient(to right, #200122, #6f0000);
  box-sizing: border-box;
}

.App {
  height: 100vh;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

.title {
  text-align: center;
}

.quote-box {
  max-width: 600px;
  margin: 50px auto 0 auto;
  height: auto;
  padding: 35px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.quote-text {
  padding: 0 0 0 15px;
  font-style: italic;
  border-left: 3px solid #bdbdbd;
  font-size: 21px;
}

.quote-author {
  font-size: 14px;
  font-weight: 700;
  text-align: right;
}

.buttons-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.buttons {
  margin: 15px 0 0 0;
  -webkit-transition: background-color 0.3s linear, color 0.3s linear;
  transition: background-color 0.3s linear, color 0.3s linear;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.tweet-quote {
  background-color: #1DA0F1;
}

.tweet-quote:hover {
  background-color: #06649e;
}

.random-quote {
  background-color: #25a725;
}

.random-quote:hover {
  background-color: #0b6e0b;
}